
<header class="header">
    活动列表
    <button ng-show="true" class="btn btn-primary header-right" ng-click='back_to_create_activity()'>创建活动</button>
</header>


<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <li class="clearfix btn-default" class="going_current_activtiy"  ng-repeat="activity in activity_names track by $index" ng-click='choose_activity(activity)'>
            <h3>{{activity}}</h3>
            <i class="icon-angle-right"></i>
        </li>
    </ul>
</div>