<header class="header">
    {{bm_activity_name}}
    <button ng-show="true" class="btn btn-primary header-left" ng-click='back_to_activity_item()'>返回</button>
    <button ng-show="true" class="btn btn-primary header-right" ng-click='start_activity_btn()'>{{start_done_btn}}</button>
</header>


<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <!--<li class="clearfix btn-default" ng-repeat="user in users_data">-->
        <li class="clearfix btn-default">
            <h3>{{username}}</h3>
            <i>{{users_data.phone}}</i>
        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li><a href="javascript:"><i class="icon-group"></i><br />报名</a></li>
        <li><a href="javascript:"><i class="icon-list"></i><br />竞价</a></li>
    </ul>
</footer>