header.header 活动列表
    button(ng-show="true",ng-disabled="create_button_enable",ng-click='back_to_create_activity()').btn.btn-primary.header-right 创建活动

.wrapper#wrapper
    ul.list-style-2
        li(ng-repeat="activity in activity_names track by $index",ng-click='choose_activity(activity)').clearfix.btn-default
            h3(class="{{activity.signup}}") {{activity.name}}
            i.icon-angle-right