<header class="header">
    报名{{user_num}}
    <button ng-show="true" class="btn btn-primary header-left" ng-click='back_to_activity_item_page()'>返回</button>
<!--     <button ng-disabled="button_enable" class="btn btn-primary header-right" ng-click='start_activity_btn()'>{{start_done_btn}}</button> -->
    <div ng-switch="signup_button_status">
        <button ng-disabled="false" class="btn btn-primary header-right" ng-click='start_activity_btn()' ng-switch-when="unstart">开始</button>
        <button ng-disabled="true" class="btn btn-primary header-right" ng-click='start_activity_btn()' ng-switch-when="onbid">结束</button>
        <button ng-disabled="false" class="btn btn-primary header-right" ng-click='start_activity_btn()' ng-switch-when="start">结束</button>
        <button ng-disabled="true" class="btn btn-primary header-right" ng-click='start_activity_btn()' ng-switch-when="end">结束</button>
        <button ng-disabled="true" class="btn btn-primary header-right" ng-click='start_activity_btn()' ng-switch-default="">开始</button>
    </div>
</header>


<div id="refresh_user_num" class="wrapper">
    <ul class="list-style-2">
        <li class="clearfix btn-default" ng-repeat="user in users_data">
        <!--<li class="clearfix btn-default">-->
            <h3>{{user.name}}</h3>
            <i>{{user.phone}}</i>
        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="javascript:" ng-disabled="true"><i class="icon-group"></i><br />报名</a></li>
        <li><a ng-href="#/bidlist/{{during_activity_name}}"><i class="icon-list"></i><br />竞价</a></li>
    </ul>
</footer>