<header class="header">
    {{bm_activity_name}}
    <button ng-show="true" class="btn btn-primary header-left" ng-click='back_to_activity_item()'>返回</button>
    <button ng-show="true" class="btn btn-primary header-right" ng-click='back_to_activity_item()'>开始</button>
</header>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li><a href="javascript:"><i class="icon-group"></i><br />报名</a></li>
        <li><a href="javascript:"><i class="icon-list"></i><br />竞价</a></li>
    </ul>
</footer>