<header class="header">
    价格统计
    <button ng-show="true" class="btn btn-primary header-left" ng-click='back_to_bid_list_page()'>返回</button>
    <button ng-show="true" ng-disabled="button_enable" class="btn btn-primary header-right" ng-click='
    back_to_bid_result_page()'>列表</button>
</header>


<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <li class="clearfix btn-default" ng-repeat="bid in bidcounts track by $index" ng-click="choose_bid(bid)">
            <h3>¥{{bid.price}}</h3>
            <i>{{bid.count}}人</i>
        </li>
    </ul>
</div>