<header class="header">
	竞价
    <button ng-show="true" class="btn btn-primary header-left" ng-click='back_to_activity_item_page()'>返回</button>
    <button ng-show="true" ng-disabled="button_enable" class="btn btn-primary header-right" ng-click='
    start_bid()'>开始</button>
</header>


<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <li class="clearfix btn-default" ng-repeat="user in users_data">
        <!--<li class="clearfix btn-default">-->
            <h3>{{user.name}}</h3>
            <i>{{user.phone}}</i>
        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li><a href="#/sign_up" ng-disabled="true"><i class="icon-group"></i><br />报名</a></li>
        <li><a href="javascript:"><i class="icon-list"></i><br />竞价</a></li>
    </ul>
</footer>