<header class="header">
    竞价结果
    <button ng-show="true" class="btn btn-primary header-left" ng-click='back_to_bid_item_page()'>返回</button>
    <button ng-show="true" ng-disabled="button_enable" class="btn btn-primary header-right" ng-click='
    back_to_count_page()'>统计</button>
</header>


<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <li class="clearfix btn-default" ng-repeat="bid in all_bid_in_order track by $index" ng-click="choose_bid(bid)">
            <!--<li class="clearfix btn-default">-->
            <h3>{{1+$index}}&nbsp;&nbsp;&nbsp;{{bid.name}}&nbsp;&nbsp;{{bid.phone}}</h3>
            <i>{{bid.price}}</i>
        </li>
    </ul>
</div>
<footer>
    <h3>竞价结果&nbsp;&nbsp;&nbsp;&nbsp;{{success_user.name}}&nbsp;&nbsp;¥{{success_user.price}}
        &nbsp;&nbsp;{{success_user.phone.slice(0,3)}}XXXX{{success_user.phone.slice(7)}}</h3>
</footer>