<header class="header">
	竞价{{bid_num}}
    <button ng-show="true" class="btn btn-primary header-left" ng-click='back_to_bid_item_page()'>返回</button>
<!--     <button  ng-disabled="buttonisable" class="btn btn-primary header-right" ng-click='end_current_bid()'>结束</button> -->
    <div ng-switch="bid_end_button_enable">
        <button ng-switch-when="start"  ng-disabled="false" class="btn btn-primary header-right" ng-click='end_current_bid()' >结束</button>
        <button ng-switch-default="end" ng-disabled="true" class="btn btn-primary header-right" ng-click='end_current_bid()'>结束</button>
    </div>
</header>


<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
        <li class="clearfix btn-default" ng-repeat="user in bid_users track by $index">
        <!--<li class="clearfix btn-default">-->
            <h3>{{1+$index}}&nbsp;&nbsp;&nbsp;{{user.name}}</h3>
            <i>{{user.phone}}</i>
        </li>
    </ul>
</div>

